
<h1>Caminhões</h1>

<table class="table  table-bordered table-hover table-striped" >
  <thead class="thead-dark" >
    <tr>
      <th><center>Placa</center></th>
      <th><center>Marca</center></th>
      <th ></th>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @trucks.each do |truck| %>
      <tr>
        <td><%= truck.plate %></td>
        <td><%= truck.mark %></td>
        <td>
          <%= link_to 'Mostrar', truck, class: "btn btn-default btn-sm" %>
          <%= link_to 'Editar', edit_truck_path(truck), class: "btn btn-default btn-sm" %>
          <%= link_to 'Deletar', truck,
                method: :delete,
                data: { confirm: 'Tem certeza?' }, class: "btn btn-danger btn-sm" %>
        </td>
        <td>

        <%= link_to 'Novo frete' , new_freight_url(truck.id), class: "btn btn-success"%>

      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Novo Caminhão' , new_truck_path, class: "btn btn-success"%>
<%= link_to 'Voltar', :back , class: "btn btn-default" %>
