<p id="notice"><%= notice %></p>

<p>
  <strong>Plate:</strong>
  <%= @truck.plate %>
</p>

<p>
  <strong>Mark:</strong>
  <%= @truck.mark %>
</p>

<%= link_to 'Edit', edit_truck_path(@truck) %> |
<%= link_to 'Back', trucks_path %>
