<h1>Listando Fretes</h1>
<hr>
<%= link_to 'Novo frete' , new_freight_url %> <br/><br/>

<table >
  <tr >
    <th> Data</th>
    <th> Valor do frete </th>
    <th> Valor restante </th>
    <th> Origem do frete </th>
    <th> Destino do frete </th>
    <th></th>
  </tr>

  <% @freights.each do |f| %>
    <tr >
      <td><center><%= f.date_freight %><center> </td>
      <td><center><%= f.value_freight %></center></td>
      <td><center><%= f.value_left %></center></td>
      <td><center><%= f.source_freight %></center></td>
      <td><center><%= f.destiny_freight %></center></td>
      <td><%= link_to 'Show', freight_path(f) %></td>
      <td><%= link_to 'Edit', edit_freight_path(f) %></td>
      <td><%= link_to 'Destroy', freight_path(f),
              method: :delete,
              data: { confirm: 'Tem certeza?' } %></td>

    </tr>
  <% end %>

</table>
<br/>

<%= link_to 'Voltar', :back %>
