<%= flash_message.html_safe %>
<h1>Listando Fretes  <%=  " #{@plate_truck}" %></h1>

<hr/>
<div >
<%= form_for :search, method: :get do |f| %>
    <%= f.label :data_inicio%>
    <%= f.date_field :start_date %>
    <%= f.label :data_final%>
    <%= f.date_field :end_date %>
    <%= f.hidden_field :truck_id , value: @id_truck %>
    <%= f.submit 'filtrar' %>
<% end %>

<div>

<table class="table  table-bordered table-striped" >
  <thead class="thead-dark" >
    <tr>
      <th scope="col"><center> # </center></th>
      <th scope="col"><center> Data </center></th>
      <th scope="col"><center> Valor do frete </center></th>
      <th scope="col"><center> Valor restante </center></th>
      <th scope="col"><center> Origem do frete </center></th>
      <th scope="col"><center> Destino do frete </center></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>


  <% @freights.each_with_index do |f,i| %>

    <tr >
      <%if (@id_truck != 0) %>
        <% cont = i + 1 %>
      <%else%>
          <%cont = f.truck.plate%>
      <%end%>

      <th scope="row"><center> <%= cont %> </center></th>

      <td><%= I18n.l (f.date_freight) %> </td>
      <td>R$ <%= f.value_freight %></td>
      <td>R$ <%= f.value_left %></td>
      <td><%= f.source_freight %></td>
      <td><%= f.destiny_freight %></td>
      <td>
        <%= link_to 'Mostrar', freight_path(f), class: "btn btn-default btn-sm" %>
        <%= link_to 'Editar', edit_freight_path(f), class: "btn btn-default btn-sm" %>
        <%= link_to 'Deletar', freight_path(f),
              method: :delete,
              data: { confirm: 'Tem certeza?' }, class: "btn btn-danger btn-sm" %>
      </td>

    </tr>
  <% end %>
  <th class="table-dark" > Total restante </th>

  <td><center>R$ <%= @soma %> <center></td>
</tbory>

</table>
<br/>

<%= link_to 'Novo frete' , new_freight_url(@id_truck), class: "btn btn-success"%>
<%= link_to 'Voltar', root_path , class: "btn btn-default" %>
