<h1>Listando Fretes</h1>

<hr/>

<table class="table  table-bordered table-hover table-striped" >
  <thead class="thead-dark" >
    <tr>
      <th scope="col"> # </th>
      <th scope="col"> Data</th>
      <th scope="col"> Valor do frete </th>
      <th scope="col"> Valor restante </th>
      <th scope="col"> Origem do frete </th>
      <th scope="col"> Destino do frete </th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>

  <% cont = 0 %>
  <% @freights.each do |f| %>
    <tr >

      <%cont = cont + 1%>
      <th scope="row"> <%= cont %> </th>

      <td><%= I18n.l (f.date_freight) %> </td>
      <td><%= f.value_freight %></td>
      <td><%= f.value_left %></td>
      <td><center><%= f.source_freight %></center></td>
      <td><center><%= f.destiny_freight %></center></td>
      <td>
        <%= link_to 'Mostrar', freight_path(f), class: "btn btn-default btn-sm" %>
        <%= link_to 'Editar', edit_freight_path(f), class: "btn btn-info btn-sm" %>
        <%= link_to 'Deletar', freight_path(f),
              method: :delete,
              data: { confirm: 'Tem certeza?' }, class: "btn btn-danger btn-sm" %>
      </td>

    </tr>
  <% end %>
</tbory>

</table>
<br/>

<%= link_to 'Novo frete' , new_freight_url, class: "btn btn-primary"%>
<%= link_to 'Voltar', :back, class: "btn btn-danger" %>
