<h1> Frete nยบ <%= @freight.id%> </h1>
<hr/>
<p>
  <strong>DATA:</strong>
  <%= I18n.l(@freight.date_freight) %>
</p>

<p>
  <strong>VALOR FRETE:</strong>
  R$ <%= @freight.value_freight %>
</p>

<p>
  <strong>VALOR RESTANTE:</strong>
  R$ <%= @freight.value_left %>
</p>

<p>
  <strong>ORIGEM:</strong>
  <%= @freight.source_freight %>
</p>

<p>
  <strong>DESTINO:</strong>
  <%= @freight.destiny_freight %>
</p>

<br/>
<%= link_to 'Editar frete', edit_freight_path(@freight), class: "btn btn-info" %>
<%= link_to 'Deletar', freight_path(@freight),method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-danger" %>
</br></br>
<%= link_to 'Novo frete' , new_freight_url, class: "btn btn-primary"%>
<%= link_to 'Fretes ', freights_url, class: "btn btn-default" %>
